/* | GENERAL | */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
}

a {
  color: gray;
  text-decoration: none;
  margin-right: 30px;
  transition: all 0.2s linear;
}

a:hover {
  color: black;
}

/* | HEADER | */
header {
  height: 20vh;
}

.container {
  width: 1300px;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* | Sezione menu sx */
.sx_nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo a img {
  width: 120px;
}

.sx_nav_menu {
}

/* | Sezione menu destra */
.dx_nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.dropdown {
  position: relative;
  padding: 10px 0;
}

.drop_down {
  position: absolute;
  top: 30px;
  transform: translateX(-25%);
  border-radius: 10px;
  box-shadow: 0 0 4px #2385c7;
  display: none;
  margin-top: 10px;
}

.drop_down.active,
.drop_down.language.active {
  display: block;
}

.drop_down ul {
  display: block;
  min-width: 150px;
  padding: 20px;
  cursor: pointer;
  transition: all 0.2s linear;
}

.drop_down ul.animate {
  animation: slideDown 0.3s 0.2s;
}

/* @keyframes slideDown {
  0% {
  }
} */

.drop_down.language {
  position: absolute;
  top: 60px;
  min-width: 100px;
  padding: 10px 0 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  transition: all 0.2s linear;
}

.drop_down.language a {
  margin-top: 20px;
  margin: 0;
}

.drop_down.language {
  display: none;
}

.drop_down ul li:hover {
  background-color: #2385c7;
  border-radius: 10px;
}

.drop_down ul li:hover a {
  color: #fff;
}

.drop_down ul li a {
  margin: 0;
}

.drop_down ul li a.new,
.drop_down ul li a.beta {
  position: relative;
}

.drop_down ul li a.new::after {
  content: "Nuovo";
  font-size: 0.8em;
  position: absolute;
  top: -10px;
  font-weight: bold;
  color: #eb008d;
}

.drop_down ul li a.beta::after {
  content: "Beta";
  font-size: 0.8em;
  position: absolute;
  top: -10px;
  font-weight: bold;
  color: #eb008d;
}

.cta_nav {
  display: flex;
  align-items: center;
}

.cta_nav a.arrow::after {
  content: "\f078";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 0.6em;
  margin-left: 2px;
  transform: rotate(90deg);
}

.cta_nav .btn {
  font-weight: bold;
  background-color: #eb008d;
  padding: 15px 25px;
  margin-left: 10px;
  border-radius: 25px;
  color: #fff;
  transition: all 0.2s ease;
}

.cta_nav .btn:hover {
  background-color: #2385c7;
}
